Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-avoid-bind,
  modernize-pass-by-value,
  modernize-redundant-void-arg,
  modernize-replace-auto-ptr,
  modernize-use-bool-literals,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: '*'
HeaderFilterRegex: '^(Engine|Runtime|Test)/'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: '0'
  - key: modernize-pass-by-value.IncludeStyle
    value: llvm
